.error-message {
    color:#a90329;
    font-size: 1rem;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.show-read-more .more-text{
    display: none;
}

/*header*/
header {
    float: left;
    width: 100%;
    background-color: #e44d3a;
}
.header-data {
    float: left;
    width: 100%;
}
.logo {
    float: left;
    width: 40px;
    margin-right: 14px;
    margin-top: 10px;
}
.search-bar {
    float: left;
    width: 280px;
    margin-top: 9px;
}
.search-bar form {
    float: left;
    width: 100%;
    position: relative;
}
.search-bar form input {
    width: 100%;
    background-color: #fff;
    height: 38px;
    color: #b2b2b2;
    font-size: 12px;
    border: 0;
    padding: 0 10px;
}
.search-bar form button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #efefef;
    width: 38px;
    height: 100%;
    border: 0;
}
.search-bar form button i {
    color: #e44d3a;
    font-size: 20px;
    font-weight: bold;
}
.home {
    float: left;
    width: 110px;
    border-left: 1px solid #dd3e2b;
    border-right: 1px solid #dd3e2b;
    box-sizing: border-box;
    position: relative;
}
.user-account {
    float: right;
    width: 110px;
    border-left: 1px solid #dd3e2b;
    border-right: 1px solid #dd3e2b;
    box-sizing: border-box;
    position: relative;
}
.fa-sort-desc:before, .fa-sort-down:before {
    content: "\f30c";
}
.user-info {
    float: left;
    width: 100%;
    padding: 13px 10px;
    position: relative;
}
.user-info img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.user-info a {
    color: #fff;
    font-size: 14px;
    float: left;
    margin-top: 8px;
}
.user-info > i {
    position: absolute;
    top: 51%;
    right: 10px;
    color: #fff;
    font-size: 12px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.user-account-settingss {
    position: absolute;
    top: 100%;
    right: 0;
    width: 240px;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -webkit-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
    -moz-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
    -ms-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
    -o-box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
    box-shadow: 1px 1px 6px -2px rgba(0,0,0,0.24);
    opacity: 0;
    visibility: hidden;
}
.user-account-settingss > h3 {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
}
.user-account-settingss.active {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
}
.us-links {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 20px;
}
.us-links li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.us-links li a {
    float: left;
    width: 100%;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
}
/* end of Header */

/* main section */
.center-image {
    max-width:100%;
    max-height:100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.row {
    margin: 0px !important;
}
.main-section-data {
    float: left;
    width: 100%;
    padding: 20px 50px 50px 50px;
}
/* end of main section */

/* user Profile side */
.no-margin {
    margin: 0 !important;
}
.no-margin {
    margin: 0;
    border: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    border-radius: inherit;
}
.main-left-sidebar {
    float: left;
    width: 100%;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.user-data {
    text-align: center;
}
.full-width {
    float: left;
    width: 100%;
    background-color: #fff;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.user-profile {
    float: left;
    width: 100%;
}
.username-dt {
    float: left;
    width: 100%;
    background-color: #e44d3a;
    padding-top: 40px;
}
.usr-pic {
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom: -48px;
}
.usr-pic > img {
    float: none;
    border: 5px solid #fff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    width: 100%;
}
.user-specs {
    float: left;
    width: 100%;
    padding: 50px 0 27px 0;
}
.user-specs h3 {
    color: #000000;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 8px;
}
.user-specs span {
    display: block;
    color: #686868;
    font-size: 14px;
    word-wrap: break-word;
    padding-left: 10px;
    padding-right: 10px;
}
.user-fw-status {
    float: left;
    padding: 0px;
    width: 100%;
    margin: 0px;
}
.user-fw-status li:nth-child(1), .user-fw-status li:nth-child(2) {
    border-bottom: 0;
}
.fw-status li:nth-child(2) {
    border-bottom: 0;
}
.user-fw-status li a {
    color: #e44d3a;
    font-size: 14px;
    font-weight: 600;
}
.user-fw-status li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
}
.user-fw-status li h4 {
    color: #686868;
    font-size: 20px;
    margin-bottom: 10px;
}
.user-fw-status span {
    color: #000000;
    font-size: 20px;
}
/* end of user Profile side */

/* Post */
.post-bar {
    float: left;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.15);
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    padding: 15px;
}
.retweet_bar {
    float: left;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.08);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.08);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.08);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.08);
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    padding: 15px;
}
.post_topbar {
    float: left;
    width: 100%;
    position: relative;
    padding: 10px 20px 15px 10px;
}
.usy-dt {
    float: left;
}
.usy-dt img {
    width : 50px;
    height : 50px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
img {
    float: left;
}
.usy-name img {
    margin-top: 2px;
    margin-right: 6px;
}
.usy-name {
    float: left;
    margin-left: 10px;
}
.usy-name h3 {
    color: #000000;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 6px;
    margin-top: 2px;
}
.usy-name span {
    color: #b2b2b2;
    font-size: 14px;
}
.ed-opts {
    float: right;
    position: relative;
}
.ed-opts > a {
    color: #b2b2b2;
    font-size: 20px;
    float: right;
    position: relative;
    left: 13px;
    padding-left: 5px;
}
.ed-user-list > a {
    float: right !important;
    position: relative;
}
.ed-opts > i {
    display: inline-block;
    margin-right: 15px;
}
.ed-options:active {
    opacity: 1;
    visibility: visible;
    z-index: 999;
}
.ed-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    box-shadow: 0 0 10px rgba(0,0,0,0.28);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
.ed-options li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.fa {
    display: inline-block;
    font: normal normal normal 16px/1 "LineAwesome";
    font-size: inherit;
    text-decoration: inherit;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.ed-options {
    position: absolute;
    top: 100%;
    right: 0;
    width: 130px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -ms-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    -o-box-shadow: 0 0 10px rgba(0,0,0,0.28);
    box-shadow: 0 0 10px rgba(0,0,0,0.28);
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    z-index: 0;
}
ol, ul {
    list-style: none;
}
.ed-options li {
    float: left;
    width: 100%;
    margin-bottom: 15px;
}
.post_content {
    float: left;
    width: 100%;
    padding: 0 20px 0px 20px;
    border-bottom: 1px solid #e5e5e5;
}
.post_content h3 {
    color: #000000;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
}
.job-dt {
    float: left;
    width: 100%;
    margin-bottom: 22px;
}
.post_content > p {
    color: #686868;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
    word-wrap: break-word;
}
.post_content > p a {
    color: #e44d3a;
    font-weight: 600;
}
.post_content > img {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    padding-bottom: 15px;
}
.job-status-bar {
    float: left;
    width: 100%;
    padding: 15px 20px 0px;
}
.like-com {
    float: left;
    margin-bottom: 0px;
    padding-left: 0px !important;
}
ol, ul {
    list-style: none;
}
.like-com li {
    display: inline-block;
    margin-right: 15px;
}
.like-com li a {
    color: #b2b2b2;
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.like-com li p {
    color: #b2b2b2;
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-bottom: 0 !important;
}
.like-com li > a:hover {
    color: #e44d3a;
    font-size: 14px;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.like-com li span {
    color: #ffffff;
    font-size: 13px;
    width: 30px;
    height: 30px;
    background-color: #e44d3a;
    line-height: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    float: left;
    text-align: center;
    font-weight: 600;
    margin-left: -25px;
}
a:not([href]):not([tabindex]) {
    text-decoration: none;
}
.job-status-bar > a {
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    margin-top: 5px;
}

/* ERROR 404 */
#notfound {
    position: relative;
    height: 100vh;
  }

#notfound .notfound {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
}

.notfound {
max-width: 520px;
width: 100%;
line-height: 1.4;
text-align: center;
}

.notfound .notfound-404 {
position: relative;
height: 240px;
}

.notfound .notfound-404 h1 {
font-family: 'Montserrat', sans-serif;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
font-size: 252px;
font-weight: 900;
margin: 0px;
color: #262626;
text-transform: uppercase;
letter-spacing: -40px;
margin-left: -20px;
}

.notfound .notfound-404 h1>span {
text-shadow: -8px 0px 0px #fff;
}

.notfound .notfound-404 h3 {
font-family: 'Cabin', sans-serif;
position: relative;
font-size: 16px;
font-weight: 700;
text-transform: uppercase;
color: #262626;
margin: 0px;
letter-spacing: 3px;
padding-left: 6px;
}

.notfound h2 {
font-family: 'Cabin', sans-serif;
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
color: #000;
margin-top: 0px;
margin-bottom: 25px;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 200px;
    }
    .notfound .notfound-404 h1 {
        font-size: 200px;
    }
}

@media only screen and (max-width: 480px) {
    .notfound .notfound-404 {
        height: 162px;
    }
    .notfound .notfound-404 h1 {
        font-size: 162px;
        height: 150px;
        line-height: 162px;
    }
    .notfound h2 {
        font-size: 16px;
    }
}

/**
* Comment Section
*/
.liked {
    color: #e44d3a;
}
.unliked {
    color: #b2b2b2;
}
.commentShow {
    color: #b2b2b2  !important;
}
.commentShow:hover {
    color: #e44d3a !important;
}
.comLabel {
    color: #b2b2b2 ;
}
.comLabel:hover {
    color: #e44d3a;
}
.comment-section {
    float: left;
    width: 100%;
    background-color: #fff;
    padding: 0px;
}
.plus-ic {
    float: left;
    width: 100%;
    text-align: center;
    font-size:14px;
    margin-bottom: 10px;
}
.plus-ic i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e7e7e7;
    text-align: center;
    color: #b2b2b2;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.comment-sec {
    float: left;
    width: 100%;
}
.comment-sec ul {
    float: left;
    width: 100%;
}
.comment-sec ul li {
    float: left;
    width: 100%;
}
.delBtn {
    float:right;
    position: relative;
    padding-right:5px;
    font-size:14px !important;
}
.editBtn {
    float: right;
    position: relative;
    padding-right: 5px;
    font-size:18px !important;
    color:#b2b2b2;
}
.editBtn:hover {
    font-size:18px !important;
    color: #e44d3a;
}
.delBtn > i {
    font-size:18px !important;
    color:#b2b2b2;
}
.delBtn > i:hover {
    font-size:18px !important;
    color: #e44d3a;
}
.comment-list {
    display: table;
    padding-bottom: 0px !important;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    border-radius: 5px;
}
.comment-list-content {
    width:500px;
    padding-bottom: 5px;
}
.bg-img {
    display: table-cell;
}
.bg-img img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
}
.comment {
    display: table-cell;
    vertical-align: top;
    width: 450px;
    padding-left: 10px;
}
.comment h3 {
    color: #000000;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 6px;
}
.comment span {
    color: #b2b2b2;
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}
.comment img {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

img {
    float: left;
}
.comment p {
    color: #686868;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 20px;
    word-wrap: break-word;
}
.comment > a.active, .comment > a:hover {
    color: #e44d3a;
}
.comment > a {
    display: inline-block;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
}
.comment > a i {
    font-weight: 600;
    margin-right: 6px;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.comment-sec ul ul {
    padding-left: 50px;
}
.comment-sec ul {
    float: left;
    width: 100%;
}
.comment-sec ul li {
    float: left;
    width: 100%;
}
.comment-list-content > p {
    width: 100% !important;
    padding-bottom: 0px;
}
.bg-img {
    display: table-cell;
}
.bg-img img {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    width:40px;
    height:40px;
}
.post-comment {
    float: left;
    width: 100%;
}
.cm_img {
    float: left;
    width: 40px;
    margin-right: 10px;
}
@media (max-width: 768px) {
    .comment_box {
        width: 88%;
    }
    .comment_box {
        float: left;
    }
}
@media (max-width: 768px) {
    .comment_box input {
        width: 84%;
    }
    .comment_box {
        width: 88%;
    }
}
@media (max-width: 991px) {
    .comment_box input {
        width: 275px;
    }
}
@media (max-width: 1200px) {
    .comment_box input {
        width: 281px;
    }
}
@media (max-width: 576px) {
.comment_box {
    width: 100%;
}.comment_box form button {
    float: none;
}
.comment-list-content {
    width:50%;
    padding-bottom: 5px;
}
.comment_box form button {
    padding: 0 15px;
}
}
.comment_box {
    float: left;
    padding-left:20px;
    padding-right:10px;
}
.comment_box input {
    width: 387px;
    height: 40px;
    border: 1px solid #e5e5e5;
    background-color: #efefef;
    padding-left: 10px;
    color: #b2b2b2;
    font-size: 14px;
    font-weight: 600;
    line-height: 40px;
    resize: none;
}
.comment_box input:focus{
    color:#495057;
    background-color:#fff;
    border-color:#e44d3a;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(255, 0, 0, 0.25)
}
input {
    outline: none;
}
button, input {
    overflow: visible;
}
.comment_box2 {
    float: right;
    color: #fff;
    background-color: #e44d3a;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    border: 0;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 600;
}
.comment_box2.disabled,.comment_box2:disabled {
    color:#fff;
    background-color:#830b0b;
    border-color:#830b0b;
}
.ask-question, .login_register ul li a, .search-bar form input, .search-bar form button, .search_form form input, .post-st ul li a, .post-bar, .bk-links li i, .bid_now, .user-profy ul li a, .posty, .comment_box form button, .post-project-fields form input, .post-project-fields form textarea, .post-project-fields form select, .post-project-fields form ul li button, .post-project-fields form ul li a, .signin-pop, .sign-control, .sign_in_sec form input, .sign_in_sec form select, .sign_in_sec form button, .signup-tab, .login-resources ul li a, .flw-hr li a, .message-btn a, .user-profile-ov, .portfolio-gallery-sec, .overview-edit, .overview-edit form textarea, .overview-edit form input, .overview-edit form select, .overview-edit button, .file-submit, .billing-method, .lt-sec > a, .add-billing-method, .payment_methods form button, .payment_methods form input, .company-up-info ul li a, .search-box form input, .filter-dd form input, .filter-dd form select, .conversation-box, .save-stngs ul li button, .cp-field input, .cp-field textarea, .accept-req, .mf-field input, .mf-field button, .pagination li .page-link, .post_comment_sec form textarea, .post_comment_sec form button, .next-prev > a {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
